#დაამატე {
    margin-top: 2px;
    padding: 10px 20px;
    background-color: #23078a;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
.items-container {
    display : flex;
    flex-wrap: wrap;
    gap: 400px;
    margin-top: 50px;
}
.back_ground {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}